
<article class='museum-item museum-item-detail' id='{{data.id}}'>
  <img class='museum-item-image' src='{{data.webImage.url}}' alt='{{data.title}}' />
  <div class='item-content item-content-detail'>
    <h4>{{data.longTitle}}</h4>
    <p>{{data.subTitle}}</p>
    <p>{{data.description}}</p>
    <p>{{data.principalMaker}}</p>
    <ul> Materials
    {{#each data.materials}}
    <li>{{this}}</li>
    {{/each}}
    </ul>
  </div>
</article>